/*********************************/
/*Main image styline on homepage*/
/********************************/
#background{
	outline: black;
}

#selectTitle{
	font-size: 36px;
}


.parks{
	outline: 2px solid black;
	background-color: #ced4e2;
	padding-right: 5px;
	padding-left: 2px;
}

.parksText{
	color: black;
	padding-right: 5px;
	padding-left: 2px;
}

.btn-outline-primary{
	background-color: white !important;
	color: black !important;
	border-color: #8696a9	!important;
}

.btn-check:checked+.btn-outline-primary{
	background-color:#a39462 !important;
	border-color:	#d4e0ec!important;
	color: white			!important;

}

.btn{
	margin-bottom: 5px;

}

/*********************************/
/*Styline for Comparison page*/
/********************************/

#compare_full{
	text-align: center;
	padding-top: 20px;
}


.parkName:after {
    content: ""; 				/* This is necessary for the pseudo element to work. */ 
    display: block; 			/* This will put the pseudo element on its own line. */
    margin: 0 auto; 			/* This will center the border. */
    width: 95%; 				/* Change this to whatever width you want. */
    padding-top: 5px; 			/* This creates some space between the element and the border. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}

.infobox{
	text-align: justify;
	text-justify: inter-word;
	border:	2px solid black;
	margin-right: 5px;
	margin-left: 7px;
}

.map{
	border:	2px solid black;
	margin-left: 5px;
	margin-right: 10px;
	height: 180px;
}

.geoPara{
	height: 750px;
}

.geoText{
	text-align: justify;
	text-justify: inter-word;
/*	height:	1000px;*/
}

.parkImage{
	padding-left: 10px;
	height: 250px;
	width: 250px;
}